@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(html):not(body) {
  /* border: 1px dashed #525252; */
}

:root {
  --html-bg-color: hsl(0, 0%, 8%);
  --main-bg-color: hsl(0, 0%, 12%);
  --list-bg-color: hsl(0, 0%, 20%);

  --text-color: hsl(0, 0%, 100%);
  --text-highlight-color: hsl(75, 94%, 57%);

  --font-size: 14px;

  --bold: 700;
  --semi-bold: 600;
  --regular: 400;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  background: var(--html-bg-color);
}

main {
  width: clamp(20em, 90%, 25em);
  margin: auto;
  border-radius: 0.8em;
  padding: 2em;
  gap: var(--font-size);
  background: var(--main-bg-color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
}

header img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  margin-bottom: 1.5em;
}

header h1 {
  color: var(--text-color);
  font-size: 1.6em;
  font-weight: var(--semi-bold);
  margin-bottom: 0.4rem;
}

header h1 + p {
  font-size: var(--font-size);
  font-weight: var(--bold);
  color: var(--text-highlight-color);
  margin-bottom: 1.5em;
}

header p {
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: var(--regular);
  text-align: center;
}

section ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--font-size);
}

section ul li a {
  display: block;
  text-align: center;
  border-radius: 0.5em;
  padding: var(--font-size);
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: var(--bold);
  background: var(--list-bg-color);
}

section ul li a:active,
section ul li a:hover {
  background: var(--text-highlight-color);
  color: var(--main-bg-color);
}

footer {
  color: var(--text-color);
  font-size: var(--font-size);
}

footer a {
  text-decoration: none;
  color: var(--text-color);
  font-style: italic;
}

footer a:active,
footer a:hover {
  color: var(--text-highlight-color);
}

@media (max-width: 24em) {
  main {
    width: 20em;
    padding: 1.5em;
  }
}
